/* Réinitialisation des marges, paddings et hauteur */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Style de l'en-tête : centré, avec un fond blanc et une bordure bleue en bas */
#header {
  background: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #3388FF; /* Bordure bleue */
  position: relative;
}

/* Style pour le titre de l'en-tête */
#header h1 {
  margin-top: 0; /* Pas de marge supérieure */
  margin-bottom: 10px; /* Marge inférieure de 10px */
}

/* Style pour les paragraphes de l'en-tête */
#header p {
  margin-top: 10px; /* Marge supérieure de 10px */
  margin-bottom: 10px; /* Pas de marge inférieure */
}

#infos{
  display: flex;
  flex-direction: row;
  justify-content : space-around;
  align-items: center;
}
/* Style du conteneur de la carte.
   On retire la hauteur de l'en-tête pour que la carte occupe le reste de la fenêtre */
#map {
  width: 100vw;
  height: calc(100vh - 100px);/* Ajustez cette valeur selon la hauteur réelle de votre header */
}

/* (Optionnel) Styles pour les éléments SVG des départements s'ils sont affichés dans un calque */
.departements path {
  fill: #FFFFFF;
  stroke: #3388FF;
  stroke-width: 1;
  transition: fill 0.3s;
}

.departements path:hover {
  fill: #00aaff; /* Couleur de surbrillance au survol */
  cursor: pointer;
}