@font-face {
  font-family: Weather sunday;
  src: url(/font/Weather\ Sunday\ -\ Personal\ Use.otf);
}
@font-face {
  font-family: Sunset trip;
  src: url(/font/Sunset\ Trip.otf);

}

/* Réinitialisation des marges, paddings et hauteur */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body{
  overflow: hidden; /*cache ce qui pourrait dépasser et donc on a une seule page, pas de déroulement ht-bas et gch-drt*/
  background-color: #f6f8cc;
}

/* Style de l'en-tête : centré, avec un fond blanc et une bordure bleue en bas */
#header {
  background: #fff;
  text-align: center;
  height: 80px; /* Définissez la hauteur souhaitée */
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #3388FF; /* Bordure bleue */
  position: relative;
  background-image: url('paysage.jpeg');
  overflow: hidden; /* Masque le contenu dépassant la hauteur définie */
}

/* Style pour le titre de l'en-tête */
#header h1 {
  font-family: Weather sunday ;
  font-size: 60px ;
  margin-top: 0; /* Pas de marge supérieure */
  margin-bottom: 0; /* Pas de marge inférieure */
}

/* Style pour les paragraphes de l'en-tête */
#header p {
  margin-top: 10px; /* Marge supérieure de 10px */
  margin-bottom: 10px; /* Pas de marge inférieure */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#infos{
  display: flex;
  flex-direction: row;
  justify-content : space-around;
  align-items: center;
}

/* Encadré collé directement sous le header et au bord droit */
#encadre {
    position: fixed;
    top: 101.5px;
    right: 0;
    width: 36.8vw;
    height: 80px;
    padding: 20px;
    padding-left: 30px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    z-index: 3;           /* S'assurer que l'encadré reste visible au-dessus */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* Affichage vertical des éléments dans l'encadré */
#encadre > div,
#encadre > p {
  display: block;
  margin-bottom: 10px;
}

/* Style du conteneur de la carte.
   On retire la hauteur de l'en-tête pour que la carte occupe le reste de la fenêtre */
#map {
  width:auto;
  height: calc(100vh - 100px);/* Ajustez cette valeur selon la hauteur réelle de votre header */
  position: relative;
  top: 0%;
  left: -20%;
  
  z-index: 1;
}

/* (Optionnel) Styles pour les éléments SVG des départements s'ils sont affichés dans un calque */
.departements path {
  fill: #FFFFFF;
  stroke: #3388FF;
  stroke-width: 1;
  transition: fill 0.3s;
}

/*body {
  background-color: #87ceeb;
}*

/*boutons*/

  #maree {
    width : auto;
    text-align: justify;
    margin: auto;
    position : relative; /*permet de placer le bouton où l'on souhaite*/
    top: -550px;
    right: -60%;
    z-index: 2; /* le bouton passe au dessus de la carte*/
  }
  
  #pollens {
    width : auto;
    text-align: justify;
    margin: auto;
    position : relative; /*permet de placer le bouton où l'on souhaite*/
    top: -500px;
    right: -80%;
    z-index: 2; /* le bouton passe au dessus de la carte*/
  }

  #air {
    width : auto;
    text-align: justify;
    margin: auto;
    position : relative; /*permet de placer le bouton où l'on souhaite*/
    top: -450px;
    right: -60%;
    z-index: 2; /* le bouton passe au dessus de la carte*/
  }

  a.button {
    /* Frame */
    display: inline-block;
    padding: 20px 30px;
    border-radius: 50px;
    box-sizing: border-box;
    
    /* Style */
    font-family: Sunset trip;
    border: none;
    background: #0096C7;
    /*color: var(--button-color);*/
    font-size: 22px;
    cursor: pointer;
  }

  a.button:active {
    filter: brightness(75%);
  }
  
  /* Dropdown styles */
  .dropdown {
    /*position: relative;*/
    padding: 2;
    margin-right: 1em;
    
    border: none;
  }

  .dropdown summary {
    list-style: none;
    list-style-type: none;
  }
  
  .dropdown > summary::-webkit-details-marker {
    display: none;
  }
  
  .dropdown summary:focus a.button {
    border: 2px solid white;
  }
  
  .dropdown summary:focus {
    outline: none;
  }
  
  .dropdown ul {
    position: relative;
    margin: 20px 0 0 0;
    padding: 20px 0;
    right: -3.5%;
    /*width: var(--dropdown-width);
    left: 50%;
    margin-left: calc((var(--dropdown-width) / 2)  * -1);
    box-sizing: border-box;*/
    z-index: 3;
    
    background: var(--dropdown-background);
    border-radius: 6px;
    /*list-style: none;*/
    font-family: Sunset trip;
    font-size: 20px;
  }

  .dropdown ul li {
    padding: 0;
    margin: 0;
  }

  .dropdown ul li a:link, .dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;
    
    color: var(--dropdown-color);
    text-decoration: none;
  }

  .dropdown ul li a:hover {
    background-color: var(--dropdown-highlight);
    color: var(--dropdown-background);
  }

  /* Dropdown triangle */
  /*.dropdown ul::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--dropdown-background) transparent;
  }*/
  