/* Supprimer les marges et les paddings par défaut et occuper toute la hauteur */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* Le conteneur de la carte occupe 100% de la largeur et de la hauteur du viewport */
  #map {
    width: 100vw;
    height: 100vh;
  }